# Virtual environment
venv/
venv.venv/

# Python cache files
*.pyc
__pycache__/

# Flask instance folder (if applicable)
instance/

# Pytest and Coverage files
.pytest_cache/
.coverage
htmlcov/

.vscode

# Distribution and build directories
dist/
build/
*.egg-info/

access.log
